<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../index.css" />
  </head>
  <body>
    <div class="panel maincontainer">
      {% include header.html %}
      <div class="content">
        <h1>{{ site.description }}</h1>
      </div>
    </div>
  </body>
  <footer>

  </footer>
</html>
